/* SETUP */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@font-face {
    font-family: InstrumentSerif;
    src: url(resources/fonts/InstrumentSerif-Regular.woff2);
}
:root {
    --bg: #f1f0ef;
    --text: #121214;
    --text2: #12121479;
    --bg2: #f1f0ef9b;
    --shadow: #85858521;
    --bg3: rgb(241, 240, 239);
    --accent: #c1121f;
    --bg4: radial-gradient(circle,rgba(227, 216, 219, 1) 0%, rgba(227, 208, 217, 1) 65%, rgba(225, 176, 207, 1) 94%
);
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Geist', sans-serif;
    font-weight: 500;
    color: var(--text);
    text-decoration: none;
}

a{
	color: var(--text);
    cursor: crosshair;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e4a4a4' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='600' height='600'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 200px;
  opacity: .2;
  pointer-events: none;
  z-index: 9999;
}


body>div {
    margin-inline: 10%;
}

h1 {
    font-family: InstrumentSerif;
    margin-block: 30px;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
}

h2{
    margin-top: -100px;
}

code {
    font-family: InstrumentSerif;
}

mark {
    font-family: InstrumentSerif;
    font-style: italic;
    background-color: transparent;
    font-size: 50px;
    padding-inline-end: 10px;
}

/* NAVIGATION BAR */
.nav-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
}

nav {
    position: fixed;
    width: 100vw;
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: 1s ease;
}


nav>* {
    margin-inline: 5%;
}

nav>*,
nav>a>* {
    font-size: 1rem;
    margin-block: 0;
    text-align: start;
}

nav>a>h1 {
    font-size: 2.5rem;
}

nav>div {
    display: flex;
    column-gap: 30px;
    align-items: center;
    overflow: hidden;
    padding-block: 10px;
}

nav>div>a{
    font-weight: 400;
}



/* NAVIGATION EFFECTS */

nav a:not(.navButton) {
    transition: 300ms;
}

nav>a:active {
    transform: translateY(7px);
    transition: 100ms;
}

nav>div>a:hover {
    color: var(--accent);
}

nav>div>a:active {
    transform: translateY(7px);
    transition: 100ms;
}

/* SCROLLED NAVIGATION */

.nav-scrolled {
    width: 90%;
    margin-top: 3%;
    padding-block: 10px;
    border-radius: 100px;
    backdrop-filter: blur(5px);
    background: var(--bg2) 0.9;
    box-shadow:
        0 0 20px var(--shadow), 
        inset 0 0 5px var(--shadow);
}


/* INTERSECTION */

.intersection {
    height: 5vh;
}


/* HERO */


#hero {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -2px;
}
.eyes{
    width: 40vw;
}
.eyes:hover{
    content: url(resources/eyeclose.png);
}

/* CONNECT */

#connect {
    margin-top: 20px;
    border-top: solid 1px;
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#connect h1 {
    font-size: 25px;
    text-align: start;
    margin: 0;
    font-weight: 400;
}

.contact {
    font-size: 20px;
    font-weight: 300;
}

#connect>div:nth-child(2) {
    font-size: 20px;
    text-align: end;
}
.contact:hover{
    color: var(--accent);
}